body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #cff1f1;
}

textarea{
  background: transparent;
  border: solid #b4eeed;
  resize: none;
  color:#043051;
  border-left: 1px solid #043051;
  padding: 1px;
}

.jumbotron {
  text-align: center;
  background-color:#b4eeed;
  color: #043051;
  border-radius: 0;
  border-bottom: 10px solid #043051;
}

.time-display {
  color: #043051;
  border-radius: 15px;
}
.user-input{
  white-space: pre-wrap;/*???*/
}

.time-line{
  text-align: center;
  border-radius: 15px;
  padding: 3px;
  border: #043051;
  font-size: 17px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border: 1px solid #043051;;
}

.hour {
  border-left: 1px solid #043051;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #043051;
  color: #ede7b6;
}


.past {
  background-color: #ede7b6;
  color: #2d290b;
}

.now {
  background-color: rgb(177, 124, 237);
  color: #2d290b;
}

.soon {
  background-color: #6cbdc8;
  color: #2d290b;
}

.save-button {
  border-left: 1px solid #2d290b;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #076ab6;
  color: #ede7b6;
}

.save-button i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out; /*liked this part of the stater code*/
  color: #123c5c;
}

footer {
  background-color: #123c5c;
  color: #ede7b6;
  font-size: 60px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 5rem;
}

